{% extends 'navbar.html' %}
{% block content %}
    <head>
        <title>LISTADO DE LECTORES</title>
        <link rel="stylesheet" href="/static/css/lectores/verLectores.css">
        <script src="https://kit.fontawesome.com/05c2be17c9.js" crossorigin="anonymous"></script>
    </head>

    <div class="group">
        <div class="left">
            <a href="{{ url_for('agregarLector') }}">AGREGAR LECTOR</a>
        </div>
        <form action="{{ url_for('buscarLectores') }}" method="POST" class="form-inline mt-3">
            <div class="right">
                <input type="text" name="buscarNombreLectorDni" class="buscarInput" placeholder="Nombre, apellido o DNI del lector">
                <button type="submit" class="buscar">Buscar</button>
            </div>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Domicilio</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for lector in lectores %}
            <tr>
                <td>{{ lector.nombre }}</td>
                <td>{{ lector.apellido }}</td>
                <td>{{ lector.dni }}</td>
                <td>{{ lector.email }}</td>
                <td>{{ lector.domicilio }}</td>
                <td>{{ lector.telefono }}</td>
                <td class="btn">
                    <a href="{{ url_for('EliminarLector', lectorId=lector.id) }}" onclick="return confirm('¿Está seguro de que desea eliminar este cliente?');">
                    <button class="btn eliminar"><i class="fa-solid fa-trash"></i></button>
                    </a>
                    <a href="{{ url_for('ActualizarLector', lectorId=lector.id) }}">
                    <button class="btn modificar"><i class="fa-solid fa-pencil"></i></button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

