<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/libros/actualizarVariable.css">
    <title>Modificar {{ nombreColeccion }}</title>
</head>
<body>
    <div class="container">
        <h2>Modificar {{ nombreColeccion }}</h2>
        <form method="POST" action="{{ url_for('actualizarVariable', nombreColeccion=nombreColeccion, variableId=variableId) }}" class="form">

            <div class="group">
                <label for="descripcionNueva">Actualizar {{ nombreColeccion }}:</label>
                <input type="text" class="formulario" id="descripcionNueva" name="descripcionNueva" value="{{ descripcionActual }}" required>
            </div>
            
            <button type="submit" class="boton-agregar">Guardar Cambios</button>
        </form>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <a href="{{ url_for('listarSeleccion', nombreColeccion=nombreColeccion) }}">Volver a la página anterior</a>

    </div>
</body>
</html>
