<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para Agregar un Nuevo Libro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Agregar un nuevo libro</h1>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="/agregarLibro" id="libroForm" enctype="multipart/form-data">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br>

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required><br>


        <label for="portada">Portada:</label>
        <input type="file" id="portada" name="portada" required><br>

        <label for="idAutor">Autor:</label>
        <input type="text" id="idAutor" name="idAutor[]" placeholder="Buscar autor..." data-filter-id="filtroAutor">
        <button type="button" id="buscarAutor" onclick="listarOpciones('autor', 'resultadosAutor', 'autor', this.previousElementSibling.value)">Buscar</button>
        <div id="resultadosAutor"></div>
        
        
        <!-- Añade un formulario para agregar un nuevo autor -->   
        <div id="checkboxes">
            <!-- Tus checkboxes irán aquí -->
        </div>

        <label for="idEditorial">Editorial:</label>
        <input type="text" id="idEditorial" name="idEditorial[]" placeholder="Buscar editorial..." data-filter-id="filtroEditorial">
        <button type="button" id="buscarEditorial" onclick="listarOpciones('editorial', 'resultadosEditorial', 'editorial', this.previousElementSibling.value)">Buscar</button>
        <div id="resultadosEditorial"></div>

        <label for="idGenero">Género:</label>
        <input type="text" id="idGenero" name="idGenero[]" placeholder="Buscar genero..." data-filter-id="filtroGenero">
        <button type="button" id="buscarGenero" onclick="listarOpciones('genero', 'resultadosGenero', 'genero', this.previousElementSibling.value)">Buscar</button>
        <div id="resultadosGenero"></div>
        
        <label for="cantidad">Cantidad:</label>
        <input type="text" id="cantidad" name="cantidad" required><br>

        <button type="submit" class="btn agregar">Agregar</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/opciones.js"></script>
</body>
</html>
