{% extends 'navbar.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Libros</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/05c2be17c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libros/listaLibros.css') }}" />
</head>
<body>
    <div class="group">
        <div class="left">
            <a href="{{ url_for('agregarLibro') }}">AGREGAR LIBRO</a>
            <form method="POST" action="{{ url_for('listarSeleccion') }}">
                <button type="submit" name="nombreColeccion" value="autor">Visualizar Autores</button>
                <button type="submit" name="nombreColeccion" value="editorial">Visualizar Editoriales</button>
                <button type="submit" name="nombreColeccion" value="genero">Visualizar Generos</button>
            </form>
        </div>
        <div class="right">
            <form action="">
                <input type="text" class="buscarInput" id="buscar-libro-input" placeholder="Buscar libro por título, autor, género, editorial....">
                <button class="buscar" id="buscar-libro-btn">Buscar</button>
            </form>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Portada</th>
                <th>ISBN</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Editorial</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tabla-resultados">
            {% for libro in libros %}
            <tr>
                <td>{{ libro['titulo'] }}</td>
                <td><img src="{{ libro['portada'] }}"></td>
                <td>{{ libro['isbn'] }}</td>
                <td class="descripciones">{{ libro['autor'] }}</td>
                <td class="descripciones">{{ libro['genero'] }}</td>
                <td class="descripciones">{{ libro['editorial'] }}</td>                
                <td>{{ libro['cantidad'] }}</td>
                <td>
                    <!-- Agrega botones u opciones de acciones aquí -->
                    <!-- Agregar este atributo data-id para identificar el libro que se va a editar -->
                    <button class="btn btn-modificar editar-libro" data-toggle="modal" data-target="#modal-editar-libro" data-id="{{ libro['idLibro'] }}"><i class="fa-solid fa-pencil"></i></button>
                    <button class="btn btn-eliminar borrar-libro-btn" data-id="{{ libro['idLibro'] }}"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <!-- Modal para editar un libro existente -->
        <div class="modal fade" id="modal-editar-libro" tabindex="-1" role="dialog" aria-labelledby="modal-editar-libro-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-editar-libro-label">Editar libro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editar-libro-form" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="isbn">ISBN</label>
                                <input type="isbn" class="form-control editar-isbn" name="isbn" required>
                            </div>
                            <div class="form-group">
                                <label for="titulo">Titulo</label>
                                <input type="text" class="form-control editar-titulo" name="titulo" required>
                            </div>
                            <div class="form-group">
                                <label for="portada">Portada</label>
                                <input type="file" name="portadaFile" id="portadaFile">
                            </div>                                                   
                            <div class="form-group">
                                <label>Autor</label>
                                <div id="autores-checkboxes">
                                    <!-- Aquí se generarán los checkboxes de autores dinámicamente -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Género</label>
                                <div id="generos-checkboxes">
                                    <!-- Aquí se generarán los checkboxes de géneros dinámicamente -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Editorial</label>
                                <div id="editoriales-checkboxes">
                                    <!-- Aquí se generarán los checkboxes de editoriales dinámicamente -->
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                <input type="text" class="form-control editar-cantidad" name="cantidad" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="actualizar-libro" class="btn btn-primary">ACTUALIZAR LIBRO</button>
                    </div>
                </div>
            </div>
        </div>
                <!-- Modal de confirmación de eliminación -->
                <div class="modal fade" id="modal-confirmacion-eliminar" tabindex="-1" role="dialog" aria-labelledby="modal-confirmacion-eliminar-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-confirmacion-eliminar-label">Confirmación de Eliminación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro de eliminar al libro <span id="libro-titulo"></span>?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" id="confirmar-eliminar-libro">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../static/js/opciones.js"></script>
{% endblock %}
