@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Prompt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
    margin: 0;
    background-color: black; /* Fondo de la página en negro */
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-weight: bold;
}

.container {
    background-color: white; /* Fondo blanco del contenedor */
    border-radius: 50px; /* Radio de borde de 100 */
    margin: 170px; /* Margen externo para separar el contenedor del borde de la página */
    background-color: white;
    text-align: center;
    width: 60%; /* Limita el ancho del contenedor */
}


.group {
    font-weight: bold;
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 5%;
}

input {
    border: none;
    border-radius: 100px;
    padding: 10px;
    width: 75%; /* El ancho del input es igual al del contenedor */
    margin: 5px 0; /* Añade espacio vertical entre los campos de entrada */
    border-radius: 10px;
    border: 2px solid var(--colors-grey, #EBEAED);
}

.boton-agregar {
    height: 50px;
    font-size: 16px;
    margin: 30px 300px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    
} 
.boton-agregar:hover{
    background-color: rgb(29, 29, 29)
}