@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Prompt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
/* Estilos para la barra de navegación */
/* Estilos para la barra de navegación */
body {
    margin: 0;
    font-family: Prompt, sans-serif;
}
.navbar {
    background-color: black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para las opciones del menú */
.menuOpcion {
    text-align: center;
}

.menuOpcion span {
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 5px;
}

.menuOpcion a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
}

/* Estilos para el botón de Cerrar Sesión */
.menuOpcion:last-child a {
    background-color: red;
    border: 1px solid white;
    color: white;
    margin-left: auto;
}

/* Estilos para el botón de Cerrar Sesión */
.navbar a[href="/logout"] {
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    
}

.navbar a[href="/logout"]:hover {
    background-color: rgb(146, 0, 0);
    
}

.img {
    width: 90%;
    padding-left: 20px;
    margin-top: 10px;
}