@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Prompt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


body {
    margin: 0;
    background-color: black; /* Fondo de la página en negro */
    font-family: DM Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
    display: flex;
    justify-content: center;
    height: 90vh;
    margin: 0;
}
h1 {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-weight: bold;
}
.container {
    background-color: white; /* Fondo blanco del contenedor */
    border-radius: 50px; /* Radio de borde de 100 */
    margin: 70px; /* Margen externo para separar el contenedor del borde de la página */
    background-color: white;
    text-align: center;
    width: 50%; /* Limita el ancho del contenedor */
   
}


.group {
    font-weight: bold;
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 5%;
}

input {
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    width: 85%; /* El ancho del input es igual al del contenedor */
    margin: 10px 0; /* Añade espacio vertical entre los campos de entrada */
    border-radius: 10px;
    border: 2px solid var(--colors-grey, #EBEAED);
}

.opciones {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.boton-enviar {
    width: 85%;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    text-align: center; /* Añade esta línea para centrar el texto horizontalmente */
    margin-bottom: 5%
}
    
.boton-enviar:hover{
    background-color: rgb(29, 29, 29)
}
