<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="navbar">
        <li><a href="/vistaBibliotecario">Libros</a></li>
        <li><a href="/verLectores">Lectores</a></li>
        <li><a href="/verPrestamos">Transacciones</a></li>
        <li><a href="/logout"
            onclick="return confirm('¿Está seguro de que desea cerrar sesion?');">Cerrar Sesion</li>
        
    </ul>
    
</body>
</html>