<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='css/img/logoNavegador.svg') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
</head>
<body>
    <div class="navbar">
        <div class="menuOpcion">
            <a href="/listarLibros">Libros</a>
        </div>
        <div class="menuOpcion">
            <a href="/verLectores">Lectores</a>
        </div>
        <div class="menuOpcion">
            <a href="/verPrestamos">Transacciones</a>
        </div>
        <div class="navbar">
            <a href="/logout"
            onclick="return confirm('¿Está seguro de que desea cerrar sesion?');">Cerrar Sesion</a>
        </div>    
    </div>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    
</body>
</html>