<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRAR PRESTAMO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/prestamos/registroPrestamo.css">
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="container-formulario">
                <h2 class="titulo">Formulario de Préstamo</h2>
                <form action="/realizarPrestamo" method="POST">
                    <label for="DNILector">DNI del Lector:</label>
                    <input type="text" name="DNILector" required><br>

                    <label for="idLibro">ID del Libro:</label>
                    <input type="text" name="idLibro" required><br>

                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" required><br><br>
                
                    <label for="fechaDevolucion">Fecha de Devolución:</label>
                    <input type="date" id="fechaDevolucion" name="fechaDevolucion" required><br><br>

                    <input type="submit" value="Realizar Préstamo" class="boton-registrar">
                </form>
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container lista-libros">
        <div class="row">
            <div class="col-md-12">
                <h2 class="titulo">Lista de Libros</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID Libro</th>
                            <th>Título</th>
                            <th>ISBN</th>
                            <th>Autor</th>
                            <th>Género</th>
                            <th>Editorial</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in libros %}
                        <tr>
                            <td>{{ libro['idLibro'] }}</td>
                            <td>{{ libro['titulo'] }}</td>
                            <td>{{ libro['isbn'] }}</td>
                            <td>{{ libro['autor'] }}</td>
                            <td>{{ libro['genero'] }}</td>
                            <td>{{ libro['editorial'] }}</td>
                            <td>{{ libro['cantidad'] }}</td>
                            <td>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


