<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/05c2be17c9.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <a href="{{ url_for('realizarPrestamo') }}" class="btn btn-primary">Registrar Prestamo</a>
        <div class="container">
            <form action="{{ url_for('buscarPrestamos') }}" method="POST" class="form-inline mt-3">
                <div class="form-group mx-2">
                    <input type="text" name="nombreLectorLibro" class="form-control" placeholder="Nombre del Lector o del Libro">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
                
            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Título del Libro</th>
                            <th>Nombre del Lector</th>
                            <th>Cantidad</th>
                            <th>Fecha de Entrega</th>
                            <th>Fecha de Devolución</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prestamo in prestamos %}
                            <tr>
                                <td>{{ prestamo.titulo }}</td>
                                <td>{{ prestamo.lector }}</td>
                                <td>{{ prestamo.cantidad }}</td>
                                <td>{{ prestamo.fechaEntrega }}</td>
                                <td>{{ prestamo.fechaDevolucion }}</td>
                                <td>{{ prestamo.estado }}</td>
                                <td>
                                    <form action="{{ url_for('cambiarEstadoPrestamo', prestamoId=prestamo.id) }}" method="post">
                                        <input type="hidden" name="prestamoId" value="{{ prestamo.id }}">
                                        <button type="submit">Devuelto</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
